h2 {
  font-size: 50px;
  color: #3f495e;
  padding: 15px;
}
li.first-letter {
  text-transform: capitalize;
}
.page-title {
  margin: 30px;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #c4bcbc;
  border-radius: 15px;
}
.cur-date {
  list-style: none;
  font-size: 25px;
  font-weight: 250;
  line-height: 30px;
  color: #5c78b6;
}
.w-desc {
  list-style: none;
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
  text-transform: capitalize;
}
.w-details {
  list-style: none;
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
  margin-top: 20px;
}
.weather-app-wrap {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}
.weather-img img {
  margin-right: 30px;
  height: 95px;
  width: 95px;
  position: relative;
  bottom: 25px;
}
.weather-img strong {
  font-size: 70px;
  font-weight: 350;
}
.weather-img small {
  font-size: 20px;
  position: relative;
  top: -32px;
}
.temp-summary {
  list-style: none;
  display: inline-flex;
  font-size: 17px;
  font-weight: 150;
  line-height: 25px;
  text-decoration: none;
}
.active {
  color: #202124;
  cursor: default;
  text-decoration: none;
}
.daily-forecast {
  border: 1px solid #5c78b6;
  border-radius: 15px;
  padding: 15px;
  margin: auto 15px;
  max-width: 750px;
}
.daily-weather {
  text-align: center;
  padding: 15px;
  margin: auto 15px;
  line-height: 30px;
  color: #0c0c0c;
}
.daily-forecast-day {
  font-size: 16px;
  column-width: auto;
}
.daily-forecast-temp {
  font-size: 11px;
}
.forecast-name {
  margin-left: 15px;
}
